.bag {
  font-size: 25px;
  color: var(--secondary-color);
}

div {
  position: absolute;
  font-size: 12px;
  color: white;
  background-color: #6548eb;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  text-align: center;
  margin-top: 20px;
  margin-left: -5px;
}

@media only screen
  and (min-device-width: 736px)
  and (max-device-width: 2000px){
    .bag {
      font-size: 30px;
    }
    div {
      font-size: 13px;
      width: 18px;
      height: 18px;
    }
  }
