.container {
  width: 45vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-top: 30px;
}

span {
  font-size: 20px;
}

.total {
  font-size: 20px;
  font-weight: 600;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

@media only screen
  and (min-device-width: 736px)
  and (max-device-width: 2000px){
    .container  {
      width: 700px;
    }
  }

@media only screen
  and (min-device-width: 582px)
  and (max-device-width: 736px){
  .container {
    width: 80vw;
  }
}

@media only screen
  and (min-device-width: 200px)
  and (max-device-width: 582px){
    .container {
      width: 80vw;
  }
}
