.container {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.container-bag {
  display: flex;
  justify-content: flex-end;
  margin: 25px 10px 25px 10px;
}

.container-search-bar {
  margin-left: 10px;
  margin-right: 10px;
}

@media only screen
  and (min-device-width: 736px)
  and (max-device-width: 2000px){
    .container-bag {
      margin-right: 50px;
    }
  }
