.cart-button {
  color: #6548eb;
  background-color: white;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  border: solid #6548eb;
  text-align: center;
  font-weight: 600;
}

.cart-button:hover,
.cart-button:focus {
  outline: none;
}

.cart-button:active {
  transform: scale(0.99);
}
