.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 25%;
  min-width: 300px;
  margin: 20px;
}

.label {
  text-align: left;
  font-size: 18px;
  margin: 10px 0 10px 0;
}

.error-text {
  font-size: 14px;
  color: red;
  text-align: left;
  margin: 5px;
}

input {
  width: 100%;
  height: 25px;
  border-radius: 10px;
  border-color: var(--secondary-color);
  border-style: solid;
  background-color: white;
  padding: 5px;
  font-size: 16px;
}

input:focus {
  outline:none;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}
