<div class="products">
  <div *ngFor="let product of products">
    <card>
      <div class="product-item">
        <img
        src={{product.mainImage}}/>
        <div id="name">{{product.name}}</div>
        <div id="description">{{product.description}}</div>
        <div id="price">
          <chip
            *ngIf="product.price < 800"
            value="SALE"
            modifier="sale"
          ></chip>
          <chip
            [value]=product.price|price
            modifier="product-price"
          ></chip>
        </div>
      </div>
    </card>
  </div>
</div>
