.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  text-align: center;
}

.order-card {
  width: 45vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
  transition: 0.1s;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

img {
  height: 100px;
  width: 100px;
}

.name {
  width: 65%;
  text-align: left;
  padding: 5px;
  margin: 5px;

  a:hover {
    cursor: pointer;
    text-decoration-style: solid;
    text-decoration-line: underline;
  }
}

.price {
  width: 10%;
  text-align: left;
  padding: 5px;
  margin: 5px;
}

.quantity {
  width: 5%;
  text-align: left;
  padding: 5px;
  margin: 5px;
}


@media only screen
  and (min-device-width: 736px)
  and (max-device-width: 2000px){
    .order-card  {
      width: 700px;
    }
  }

@media only screen
  and (min-device-width: 582px)
  and (max-device-width: 736px){
  .order-card  {
    width: 80vw;
  }
  .name {
    width: 50%;
  }
  .price {
    padding: 0;
  }
}

@media only screen
  and (min-device-width: 200px)
  and (max-device-width: 582px){
    .order-card  {
      width: 80vw;
      min-height: 150px;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
    .name {
      text-align: center;
    }
    .price {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-self: center;
    }
    .quantity {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-self: center;
    }
  }
