@import url('https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap');

p {
  color:  var(--color-one);
  font-family: 'Cutive Mono', monospace;
  font-weight: 600;
  font-size: 20px;
  margin: 30px;
}
