img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 50px;
  width:130px
}



@media only screen
and (min-device-width: 736px)
and (max-device-width: 3000px) {
  img {
    height: 75px;
    width:200px
  }
}
