.menu-item {
  background-color: var(--secondary-color);
  border-radius: 10px;
  color: var(--primary-color);
  font-weight: 600;
  height: 16px;
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
}

.product-price {
  background-color: rgb(165, 164, 164);
  border-radius: 7px;
  color: #ffffff;
  font-weight: 500;
  height: 10px;
  min-width: 45px;
  padding: 5px 10px 10px 5px;
  font-size: 12px;
}

.sale {
  background-color: #f3cc5f;
  border-radius: 7px;
  color: #f88a30;
  font-weight: 400;
  height: 15px;
  padding: 5px 10px 10px;
}

.border {
  border-color: green;
}


@media only screen
  and (min-device-width: 736px)
  and (max-device-width: 2000px){
    .menu-item {
      font-size: 16px;
      height: 20px;
    }
  }
